@import "variables";

.app-header {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  padding: 20px 10px;
  box-shadow: inset 0 0 0 1px #eee;

  -webkit-backdrop-filter: blur(6px);

  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(6px);

  .app-header__container {
    display: flex;
    align-items: center;

    @include app-width;
    margin: 0 auto;

    .app-header__container__image {
      display: flex;
      align-items: center;

      img {
        width: 100px;
      }
    }
  }
}
