.task {
     display: flex;
     align-items: center;
     justify-content: space-between;

     width: 100%;

     padding: 10px 20px;

     div {
          display: flex;
          align-items: center;
     }
}
