.user-tasks__view {
     overflow: auto;

     height: 500px;

     margin-bottom: 10px;

     border-radius: 10px;

     box-shadow: 0 0 0 1px #eee;

     .user-tasks__view__no-data {
          padding-top: 20px;

          text-align: center;

          color: #ccc;
     }

     .user-tasks__view__spinner {
          display: flex;
          align-items: center;
          justify-content: center;

          padding-top: 30px;
     }
}
